/* NAVBAR              */
.navbar{
    padding:50px;
}
.leftLinks{
    display:flex;
    align-items: center;
}
.leftLinks>*{
    margin-left:60px;
}
.rightLinks{
    display:flex; 
}
.rightLinks>*{
    margin-right:30px;
    
}
/* SIDEBAR */
.b{
    padding-left:100px;
}
.sidebar>*>*{
    display:flex;
    flex-direction: column;
    margin:40px;
}
.sidebar{
    left:100px;
    top:100px;
    position:fixed;
}



.submit{
    display:flex
}
.container{
    display:flex
}
.sidebar{
    display:flex;
    flex-direction: column;
}
.chat-text{
    display:flex;
    flex-direction: column;
    padding:10px
}
.text-title{
    display:flex;
    height:20px;
}
.text-title>*{
    margin:5px
}
.input>.text{
    margin:5px;
}
button{
    margin:10px;
}
#textBox::-webkit-scrollbar {
    display: none;
  }
  #chat{margin:auto;}
