/* NAVBAR              */
.navbar{
    padding:50px;
}
.leftLinks{
    display:flex;
    align-items: center;
}
.leftLinks>*{
    margin-left:60px;
}
.rightLinks{
    display:flex; 
}
.rightLinks>*{
    margin-right:30px;
    
}
/* SIDEBAR */
.b{
    padding-left:100px;
}
.sidebar>*>*{
    display:flex;
    flex-direction: column;
    margin:40px;
}
.sidebar{
    left:100px;
    top:100px;
    position:fixed;
}
.body{
    border:1px solid black;
    width: 50%;
    height:50rem;
    margin:auto;
}
.title{
    text-align:center;
}
/* FORM */
