/* NAVBAR              */
.navbar{
    padding:50px;
}
.leftLinks{
    display:flex;
    align-items: center;
}
.leftLinks>*{
    margin-left:60px;
}
.rightLinks{
    display:flex; 
}
.rightLinks>*{
    margin-right:30px;
    
}
/* SIDEBAR */
.b{
    padding-left:100px;
}
.sidebar>*>*{
    display:flex;
    flex-direction: column;
    margin:40px;
}
.sidebar{
    left:100px;
    top:100px;
    position:fixed;
}
.body{
    border:1px solid black;
    width: 50%;
    height:50rem;
    margin:auto;
}
.title{
    text-align:center;
}
/* FORUM */
.post{
    display:flex;
}

.score{
    font-size: 30px;
    padding-right:15px;
    margin-top: 25px;
    
}
.body{
    padding:40px;
}

.subtitle{
    padding-left:10px;
}

.comments{
    height:20px;
}
.time{
    display:flex;
    
}
.time>*{
    margin-right:20px;
}
.info{
    height:20px;
}
.poster{
    height:5px;
}
.info{
    display:flex;
    justify-content: space-between;
}
.post{
    text-decoration: none;
    color:black

}
.left-info{
    display:flex;
   
}
.left-info>*{
    margin-right:5px;
}