.header>*{
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color:black;

}
.container{
    margin-top: 10%;
}
.container>*{
    margin:10px;
    text-align: center;
}
.weekDiv{
    display:flex; 
    height: 80px;
}
.dayDiv{

    margin:10px;
    width:80px;
    height:80px;
}
.note{
    background-color: goldenrod;
    width:9px;
    height:9px;
    border-radius: 50%;
}
.hi{
    padding:100px;
    height:200px;
    text-align: center;
}

.navbar{
    padding:50px;
}
.leftLinks{
    display:flex;
    align-items: center;
}
.leftLinks>*{
    margin-left:60px;
}
.rightLinks{
    display:flex; 
}
.rightLinks>*{
    margin-right:30px;
    
}


.row>h1{
    text-align: center;
}
.row-2{
    display: flex;
    justify-content: space-between;
}
.ad{
    background-color: aliceblue;
    width: 100%;
    height: 100%;
}

.b{
    padding-left:100px;
}
.sidebar>*>*{
    display:flex;
    flex-direction: column;
    margin:40px;
}
.sidebar{
    left:100px;
    top:100px;
    position:fixed;
}


.comms{
    padding:100px;
}
#commBod{
    margin:auto;
    max-height: 900px;
    height:100px;
    width: 100%;
    display:flex;
    overflow: auto;
    justify-content: space-around;
    
}
#commBod>*{
    
    max-height: 100%;
    max-width: 100%;

}
.ad{
    width:100%;
    height:100%;
    background-color: rgb(186, 192, 199);
}
#upcomingEvents{
    overflow: scroll;

}
.eventLog{
    display:flex;
    flex-wrap: wrap;
}
.input text{

}
.input{
    
}
input{
    border:none;
    -webkit-appearance: none;
    -ms-appearance:none;
    -moz-appearance:none;
    appearance: none;
    background: #f2f2f2;
    padding:12px;
    border-radius:3px;
    width:100%;

    outline:none;
}
input:focus::placeholder{
    color:transparent;
}
input::placeholder{
    color:#222;
    transition: color 0.3s ease;
}
.row .times{
    display: flex;
}
.col-6{display:flex;}
.start{display:flex;flex-direction: column;}
span{
   background-color:#f2f2f2 ;

}
    
.createTitle{
    background-color: #222;
    padding:5px;
    color: white;
}
.upcomingTitle{
    background-color: #222;
    padding: 5px;
    color: white;
}
.Button>*{
    
    height:30px;
}
.Button{
    background: none;
    border:none;
}
.control{
    display:flex;
    justify-content: space-around;
    margin-right:750px;
}
.calendar{
    height:450px;
}
.control-container{
    padding:30px;
}
.submit{
    margin-top:5px;
    width:100%;
    height:37px;
    background-color: #222;
    border:none;
    color:white;
}
.link{
    color:black;
    text-decoration: none;
}
.title{
    font-size:100px;
    font-weight: 700;
    text-align:left
}
.calTitle{
    display:flex;
    justify-content: left;
    align-items: baseline;
}
.calTitle>*{
    margin-left:10px;
}
.modal{
    display:none; 
    width:30%;
    margin:0 auto;
    top:35%;
    left:35%;
    height:30%;
    background-color: #f2f2f2;
    
}
.close{
    width: 50px;
    height:50px;
    background-color: white;
}
.modal-content{
    padding: 30px;
}
.m1{
    z-index: 1;
}
.view>.container{
    display:flex;
    
}

.view{
    padding:100px;
}
.card-map{
    height:415px;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .daysRe{
    
  }
  .dayCheck{
    background-color: #222;
    color:white    
  }