<!DOCTYPE html>
    <head>

    </head>
    <body>
        <h1>Welcome to <%=name%></h1>
        <form action= <%="/join/:"+id%> method="POST">
            <button>Join Community</button>
        </form>

        <form action= <%="/create_event/:"+id%> method="POST">
            <h2>Create an Event</h2>
            <input type ="text" id = "name" name = "name" placeholder="name"><br>
            <input type="text" id="loc" name="loc" placeholder="location"><br>
            <input type="datetime" id="time" name="time" placeholder="time"><br>
            <button>submit</button>
        </form>    
    </body>
</html>