<!DOCTYPE html>
    <head>

    </head>
    <body>
        <form action="/submitcomm" method="POST">
            Create a Community <br>
            <input name = 'name' id = 'name' placeholder="name"></input><br>
            <button>submit</button>
        </form>        
    </body>
</html>