<head></head>
<body>
    <% var name = commune[0].name %>
    <div id="header">
        <h1>Community</h1>
        <div id="links">
            <a href="/signup" class ="link">Sign up</a>
            <a href="/sign_in" class ="link">Sign in</a>
            <a href="/" class ="link">Home</a>
        </div>
    </div> 
    <div class="body">
        <div class="search">
        </div>
    </div>
    
    <form action=<%="/submit:" + name%> method="POST">
        <h1>Create Event</h1>
        <input type="text" name="name" id="name" placeholder="name"></input><br>
        <input type="text" name='date' id="date" placeholder="date"></input><br>
        <input type="text" name = 'location' id="location" placeholder="location"></input><br>
        <button>submit</button>
    </form>


    <style>
        #header{
    background-color: black;
    color :white;
    display: flex;
    justify-content: space-between;
    padding:10px;
    padding-left:100px;
    align-items: center;
}

#links{
    margin:0px;
    padding-right:50px;
}
.link{
    color:white;
    text-decoration: none;
    margin:10px;
}
#l.side{
}
#r.side{
}

#main{
    border:1px solid black;
    height: 500px;
    width: 400px;
    margin: 10px;
}

#container{
    display:flex;
    justify-content: space-between;
}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>