<!DOCTYPE html>
    <head>

    </head>
    <body>
        <h1>Hello, <%=name%>!</h1>
        <form action="/signin" method="GET">
            <button>Sign In</button>
        </form>
        <form action="/search" method="POST">
            <input  name="search" id="search" placeholder="Search for Communities!">
            
        </form>
    </body>
</html>