<!DOCTYPE html>
    <head>

    </head>
    <body>
        <%for(var i = 0; i<members.length;i++) {%>
            <div>
            <%if(members[i].isAdmin==1){%>
                Admin<br>
            <%}%>
            <%=members[i].name%><br> 
            <%=members[i].email%><br>
            </div>
        <%}%>
    </body>
</html>