<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <%for(var i = 0; i<contacts.length;i++){%>
            <div class = "contact">
                <a href=<%="/userpage/:"+contacts[i].id%>><%=contacts[i].name%></a>
            </div>
        <%}%>
    </body>
</html>