<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="/css/search.css">
    </head>

    <body>
        <form action =<%="/message/"+userid%> method="POST">
            <h3>Send Message</h3>
            <textarea id="message" name="message"></textarea>
            <button>Send</button>
        </form>
        <a href=<%="/addcontact/:"+userid%>>Add Contact</a>
    </body>
</html>