.post_comment_content{
    margin:10px;
    font-size: larger;
}
.post_comment{
    display:flex;
    align-items: center;
    padding:10px;
    margin:10px;
}
.post_comment_votes{
    font-size: xx-large;
}
.post_voting{
    display: flex;
    justify-content: space-around;
    margin:10px;
}
